
/* --- TABLE OF CONTENT

01. GENERAL LAYOUT
02. MENU-NAV
03. FOOTER
04. HOME
05. ABOUT
06. SERVICES/FEATURES
07. CONTACT
08. OTHER ELEMENTS
		a. Buttons
		b. Gallery Images Animation
		c. Accordion Tabs
		d. Features List
09. MEDIA QUERIES

--- */

/* ========================================================== */
/* 			               01. GENERAL LAYOUT                 */
/* ========================================================== */

ul, ol { 
	list-style: none; 
	list-style-image: none; 
	margin: 0; 
	padding: 0;
	color:#858585;
	font-size: 14px;
	line-height:24px;
	margin-bottom:20px;
}
	
ul li, ol li{
	font-size: 15px;
	line-height: 28px;
}

ul li i{
	vertical-align: middle;
	padding-right: 5px;
}

p {
	font-family: 'Arial';
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #7c8595;
	margin-bottom:15px;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'serif';
  line-height: 1.2;
  margin-bottom:20px;
  color: #2F362F;
  font-weight: 800px;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

h2.section-title{
	font-size: 36px;
    line-height: 40px;
    color: #292929;
    margin-bottom: 15px;
}

h2.section-title.grey{
	color:#fff;
}
h2.section-title.grey1{
	color:#0077ED;
}

h2.section-title.white{
	color:#B88514;
}

p.section-subtitle{
	font-size:16px;
	
}

p.section-subtitle.grey{
	color:#fff;
}

p.section-subtitle.white{
	color:#fff;
}

h3.medium-title {
	font-size: 32px;
	margin-top:10px;
}

ul {
	padding: 0;
}

ul li{
	list-style-type: none;
}

a:hover, a:focus, a:active, a:visited {
	text-decoration: none;
}

iframe {
    max-width: 100%;
    border: none;
}

.white-text{ 
	color: #fff;
}

.blue {
    color: #3498db;
}

.lyla {
    color:#985BEF;
	
}

.header{
	color: #000;
	
}
.span{
	color: #B88514;
}
.span1{
	color: #1C7CC1;
}

.section-white {
	background: #fff;
	padding: 70px 0;
}
.section-white1 {
	background: #f2f9f5;
	padding: 70px 0;
}

.section-grey{
	background: #fff;
	padding: 70px 0;
}
/* .section-grey1{
	background: #f8fafe;
	padding: 70px 40px;
} */

.section-white.no-padding, .section-grey.no-padding {
	padding:0;
}

.section-white.small-paddings, .section-grey.small-paddings {
	padding: 30px 0;
}

.section-gradient{
	background: #f2f9f5; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(135deg, #f2f9f5 0%, #f2f9f5 100%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #f2f9f5, #f2f9f5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #f2f9f5, #f2f9f5); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to 135deg, #f2f9f5 0%, #f2f9f5 100%); /* Standard syntax */
  	padding: 70px 0;
}
.section-dark{
	background-color:#252626;
	padding:70px 0;
}

.section-dark1{
	background-color:#fff;
	padding:70px 0;
}

.width-100{
	width: 100%;
}

/* margin and padding classes */

.margin-right-25 {
	margin-right: 25px !important;
}

.margin-top-110 {
	margin-top: 110px !important;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-90 {
	margin-top: 90px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-35 {
	margin-top: 35px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-5 {
	margin-top: 5px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-bottom-130 {
	margin-bottom: 120px !important;
}

.margin-bottom-140 {
	margin-bottom: 140px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}
.padding-top-25 {
	padding-top: 25px !important;
}

.padding-top-30 {
	padding-top: 30px !important;
}

.padding-top-40 {
	padding-top: 40px !important;
}

.padding-top-45 {
	padding-top: 45px !important;
}

.padding-top-50 {
	padding-top: 50px !important;
}
.padding-top-60 {
	padding-top: 60px !important;
}

.padding-top-70 {
	padding-top: 70px !important;
}

.padding-top-80 {
	padding-top: 80px !important;
}

.padding-top-100 {
	padding-top: 100px !important;
}

.padding-top-120 {
	padding-top: 120px !important;
}

.padding-bottom-70 {
	padding-bottom: 70px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-50 {
	padding-bottom: 50px !important;
}

.padding-bottom-40 {
	padding-bottom: 40px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

/* ========================================================== */
/* 			               02. MENU-NAV                       */
/* ========================================================== */

.navbar-brand{
	margin-top: 0px!important;
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 500;
	color: #fff!important;

}

.navbar-fixed-top.opaque .navbar-brand{
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 700;
	color: #353535!important;
}

.navbar-fixed-top #navbar-collapse-02 .current a {
    color:#008aff;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top.opaque #navbar-collapse-02 .current a {
    color:#d3bb03!important;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-fixed-top {
	position: absolute!important;
	background-color: rgba(0, 0, 0, 0.0)!important; 
	border-bottom: none;
	transition: background-color 0.25s ease 0s;
}

.navbar-fixed-top.opaque {
	position: fixed!important;
	background-color: #fff!important;
	border-bottom: 1px solid #eee;
	padding: 20px 0;
	transition: all 0.25s ease-in-out 0s;
}

.navbar-fixed-top .navbar-nav > li > a, .navbar-fixed-top .navbar-nav > li > a:hover{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top .navbar-nav > li > a{
	color:#FFF !important;
	font-size: 14px !important;
	line-height: 30px !important;
	text-transform: uppercase;
	padding: 10px 20px!important;
	font-family: 'Serif';
	font-weight: 550;
	margin-top: 17px;
}

.navbar-fixed-top.opaque .navbar-nav > li > a{
	color:#c18505 !important;
}
/* 
.navbar-nav li i{
	font-size: 25px;
	padding: 10px;
	color: #fff;

} */

.navbar-fixed-top .navbar-nav > li > a.discover-btn {
	background: transparent;
	border: 1px solid #FFF;
	border-radius: 5px 5px;
	padding: 8px 24px!important;
	margin-left: 10px;
	margin-right: 15px;
	font-family: 'Serif';
}

.navbar-fixed-top.opaque .navbar-nav > li > a.discover-btn {
	color: #FFF!important;
	background: #e2c807; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(135deg, #e2c807 0%, #937B2C 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #e2c807, #937B2C); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #e2c807, #937B2C); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to 135deg, #e2c807 0%, #937B2C 100%); /* Standard syntax */
	border: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-fixed-top .navbar-nav > li > a.discover-btn:hover {
	/* border: 1px solid #ffffff; */
	border: none;
	color:#fff!important;
	background: #937B2C; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(135deg, #937B2C 0%, #e2c807 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #937B2C, #e2c807); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #937B2C, #e2c807); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to 135deg, #937B2C 0%, #e2c807 100%); /* Standard syntax */
}

.navbar-fixed-top.opaque .navbar-nav > li > a.discover-btn:hover {
	color: #fff!important;
	background: #937B2C; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(135deg, #937B2C 0%, #e2c807 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #937B2C, #e2c807); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #937B2C, #e2c807); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to 135deg, #937B2C 0%, #e2c807 100%); /* Standard syntax */
}

.navbar-fixed-top.opaque #navbar-collapse-02 .current a.discover-btn {
    color: #fff!important;
}

/* ========================================================== */
/* 			                03. FOOTER                        */
/* ========================================================== */



.footer {
	z-index:900;
	background-color: #2f3539;
    border-top: 1px solid #393f43;
	padding: 50px 0;
	font-weight: 300;
}

.footer p {
	font-size: 16px;
	color: #cecece;
}

.footer p a {
	font-size: 16px;
	color: #6B02FF;
	text-decoration:underline;
}

/* Footer Social Icons */
ul.footer_social{
	width:100%;
	max-width:1140px;
	display:block;
	margin:0 auto;
	padding-top:5px;
	text-align:center;
}

ul.footer_social li{
	display:inline-block;
    margin:0 ;
	line-height:100%!important;
}

ul.footer_social li a i {
  display: inline-block;
  margin:0 8px;
  padding:0;
  font-size:26px!important;
  line-height: 26px!important;
  color: #8d8d8d;

  transition: all .5s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

ul.footer_social li a i:hover {
	color:#4285f4;
}

/* ========================================================== */
/* 			               04. HOME                           */
/* ========================================================== */

.home-section {
	background: url("../images/img1.jpg");
	/* background: #042B57;
  	background: -webkit-linear-gradient(135deg, #042B57 0%, #042B57 100%);
  	background: -o-linear-gradient(bottom right, #042B57, #042B57);
  	background: -moz-linear-gradient(bottom right, #042B57, #042B57);
  	background: linear-gradient(to 135deg, #042B57 0%, #042B57 100%);  */
	background-size: cover;
	width: 100%;
	height: 700px;
	position: relative;
  	padding-top: 40px;
  	padding-bottom: 115px;

}

.home-section h1{
	font-size: 50px;
    line-height: 53px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
	margin-top: 150px;
}

.home-section p{
	font-family: 'serif';
	font-size: 25px;
	line-height: 28px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 30px;
}

.frame-border{
	margin-top:80px;
	border:9px solid rgba(255, 255, 255, 0.90);
	webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

/* ========================================================== */
/* 			               05. ABOUT                          */
/* ========================================================== */

.about-box {
	margin-top: 20px;
	text-align: center;
}

.about-box i{
	font-size: 58px;
	margin-bottom: 0;
	color:#B88514;
	display: inline-block;
	line-height: 58px;
	cursor: pointer;
	border-radius: 50%;
}

.about-box h3{
	font-size: 20px;
	color: #292929;
	margin-bottom: 15px;
	font-family: serif;
	font-weight: 540;
}

.about-box p{
	padding: 0 10px;
	font-size: 18px;
	font-family: serif;
}
.para{
	
	font-size: 17px;
}

.flex-container {
	width: 100%;
	height: auto;
	margin:auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 30px;
	
}

.flex-box {
	width: 300px;
	height: 280px;
	margin: 10px 0px;
	padding: 20px 10px;
	background: #fff;
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 7px 3px lightgrey;
}

.flex-box:hover{
	transform: translate(0, -8px);
}

.flex-box i{
	font-size: 68px;
	margin-top: 15px;
	/* color:#00B67A; */
  	background: -webkit-linear-gradient(135deg, #B88514 0%, #654602 100%);
  	background: -o-linear-gradient(bottom right, #B88514, #654602);
  	background: -moz-linear-gradient(bottom right, #B88514, #654602);
  	background: linear-gradient(to 135deg, #B88514 0%, #654602 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	cursor: pointer;
}

.flex-box h3{
	font-size: 21px;
	color: #B88514;
	/* padding: 10px; */

}
.flex-box p{
	font-size: 17px;


}

blockquote {
	font-size: 16px;
	color: #4285f4;
	border-left: 2px solid #4285f4;
}

a.btn-download {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #4285f4;
	border: 2px solid #4285f4;
	border-radius: 5px 5px;
	padding: 15px 25px;	
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 60px;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

a.btn-download i{
	font-size: 16px;
	margin-right: 10px;
}

a.btn-download:hover {
	color: #4285f4;
	background: transparent;
	border:2px solid #4285f4;
}

ul.features-responsive{
	margin-bottom: 40px;
}

ul.features-responsive li {	
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #8f8f8f;
	display: block;
	margin-bottom: 10px;
}

ul.features-responsive li i {
	font-size: 18px;
	vertical-align: bottom;
	color: #4285f4;
	margin-right: 10px;
}



/* ========================================================== */
/* 			               06. SERVICES/FEATURES              */
/* ========================================================== */

.feature-box{
	overflow: hidden;
	margin: 10px 0 20px 0;	
}

.feature-box i{
	float: left;
	font-size: 48px;
	color: #fff;
}

.feature-box-text {
	float: left;
	width: 70%;
	margin-left: 30px;
}



.feature-box h4{
	font-size: 19px;
	font-family: 'serif';
	color: #fff;
	margin-bottom: 10px;
}

.feature-box p{
	color: #fff;
	font-family: 'serif';
	font-size: 17px;
}

.feature-inner {
	float: left;
	width: 70%;
	margin-left: 30px;
}

.feature-inner h4, .feature-inner-left h4, .feature-inner-right h4{
	font-size: 18px;
	color: #282828;
	margin-top: 0;
	margin-bottom: 10px;
}

.feature-wrapper{
	overflow: hidden;
	margin: 30px 0;
}

.feature-wrapper i.lefts{
	float: right;
	margin-top: 10px;
	margin-right: 3px;
}

.feature-wrapper i.rights{
	float: left;
	margin-top: 10px;
	margin-left: 3px;
}

.feature-inner-left {
	float: right;
	width: 70%;
	text-align: right;
	padding-right: 30px;
}

.feature-inner-right{
	float: left;
	width: 70%;
	text-align: left;
	padding-left: 30px;
}

/* ========================================================== */
/* 						    7. 

*/
/* ========================================================== */

#contact-form{
	margin:0 auto;
	width:100%;
	max-width:960px;
	text-align:center;
	margin-bottom:10px;
}

input.contact-input{
	width:100%;
	height:55px;
    padding-left:2%;
    padding-right:2%;
	margin-bottom:20px;
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
    font-size:14px;
	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

textarea{
	height:205px;
	margin-bottom:20px;
	width:100%;
    padding-left:2%;
    padding-right:2%;
    padding-top:10px;
    padding-bottom:10px;
	color: #fff;
	border: 1px solid #fff;
	background-color: transparent;
    font-size:14px;
	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input.contact-submit{
	color: #fff;
	background: #07aace; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(135deg, #07aace 0%, #07aace 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #07aace, #07aace); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #07aace, #07aace); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to 135deg, #07aace 0%, #07aace 100%); /* Standard syntax */
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
	font-weight:600;
	margin-top:10px;
    padding: 18px 32px;
    position: relative;
    text-transform: uppercase;
	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

input.contact-submit:hover{
	color: #fff;
	background: #0dbce3; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(135deg, #0dbce3 0%, #0dbce3 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #0dbce3, #0dbce3); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #0dbce3, #0dbce3); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to 135deg, #0dbce3 0%, #0dbce3 100%); /* Standard syntax */
	/* border: 1px solid white; */
}

input.white-input::-webkit-input-placeholder,
textarea.white-input::-webkit-input-placeholder { /* WebKit browsers */
    color:#fff;
}
input.white-input:-moz-placeholder,
textarea.white-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#fff;
}
input.white-input::-moz-placeholder,
textarea.white-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#fff;
}
input.white-input:-ms-input-placeholder,
textarea.white-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#fff;
}

#contact-form input.contact-input:focus, #contact-form textarea.contact-commnent:focus {
  border-color:#fff;
  outline: none;
}

p.contact_success_box{
	display:inline-block;
	color:#fff;
	font-size:20px;
	font-style:italic;
	padding:20px 20px;
	border:1px solid #fff;
	webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

/* ========================================================== */
/* 			               8. OTHER ELEMENTS                 */
/* ========================================================== */

.extra-image{
	position: relative;
	margin-top: 30px;
	margin-bottom: -200px;
	z-index: 200;
}



/* a) Buttons */

.btn-blue {
	color: #fff!important;
    background: #e2c807; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(135deg, #e2c807 0%, #937B2C 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #e2c807, #937B2C); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #e2c807, #937B2C); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to 135deg, #e2c807 0%, #937B2C 100%); /* Standard syntax */
	border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	font-family: 'serif';
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	border-radius: 6px 6px;
	margin: 10px 0;
	padding: 16px 30px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-blue.small {
	padding: 14px 26px;
}

.btn-blue:hover{
	color: #fff;
	background: #937B2C; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(135deg, #937B2C 0%, #e2c807 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #937B2C, #e2c807); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #937B2C, #e2c807); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to 135deg, #937B2C 0%, #e2c807 100%); /* Standard syntax */
}

.btn-blue1 {
	color: #fff!important;
    background: #e2c807; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(135deg, #e2c807 0%, #937B2C 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #e2c807, #937B2C); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #e2c807, #937B2C); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to 135deg, #e2c807 0%, #937B2C 100%); /* Standard syntax */
	border: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	font-family: 'serif';
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	border-radius: 6px 6px;
	margin: 10px 0;
	padding: 10px 30px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-blue1.small {
	padding: 14px 26px;
}

.btn-blue1:hover{
	color: #fff;
	background: #937B2C; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(135deg, #937B2C 0%, #e2c807 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #937B2C, #e2c807); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #937B2C, #e2c807); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to 135deg, #937B2C 0%, #e2c807 100%); /* Standard syntax */
}

.btn-white:hover {
	color: #000;
	background-color: #FCDF0A;
	padding: 15px 35px;
}

.btn-white{
	color: #000;
	background: #FCDF0A;
	border: 1px solid #FCDF0A;
	font-family: 'serif';
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	border-radius: 5px 5px;
	margin: 10px 10px 0 10px 0;
	padding: 15px 30px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
.btn-white1 {
	color: #000;
	background-color: #0CA1AA;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	border: 1px solid #fff;
	border-radius: 5px 5px;
	margin: 10px 10px 0 10px 0;
	padding: 15px 30px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-white1:hover{
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
}

.btn-white-border {
	color: #fff;
	background: transparent;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	border: 1px solid #fff;
	border-radius: 5px 5px;
	margin: 10px 10px;
	padding: 15px 30px;
	display: inline-block;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.btn-white-border:hover{
	color: #00B0B5;
	background: #fff;
	border: 1px solid #fff;
}

.btn-white i, .btn-white-border i {
	font-size: 22px;
	line-height: 22px;
	margin-right: 10px;
	vertical-align: text-top;
}

/* -----  b) Gallery Images Animations ----- */

.popup-wrapper{
	display:block;
	position:relative;
	overflow:hidden;
}

.popup-gallery{
	display:inline-block;
	position:relative;
}

.first-gallery{
	margin-bottom:15px;
}

.popup-gallery img {
	position:relative;
	z-index:10;
	width: 100%;
	height: auto;
}

.popup-gallery:hover img {
	opacity: 0.25;
}

.popup-gallery a span.eye-wrapper, 
.popup-gallery a span.eye-wrapper2 {
	background-color:#000;
	position: absolute;
	display: block;
	overflow:hidden;
	z-index: 2;
	height:100%!important;
	top: 0%;
	margin-top: 0px;
	left: 0%;
	right: 0%;
	font-size: 22px;
	color:#fff;
	text-align: center;
	font-weight:300;
	opacity: 0;
	-webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.popup-gallery-rounded a span.eye-wrapper, 
.popup-gallery-rounded a span.eye-wrapper2 {
	-webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.popup-gallery a span.eye-wrapper i.eye-icon, .popup-gallery a span.eye-wrapper2 i.eye-icon{
	position: absolute;
	display: inline-block;
	font-size:38px;
	z-index: 3;
	top: 50%!important;
	margin-top: -19px!important;
	left: 0%;
	right: 0%;
}

.popup-gallery a:hover span{
	opacity: 1;
}

.popup-gallery img,
.popup-gallery a span {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.gallery-show {
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
	border: 8px solid rgba(255, 255, 255, 0.8);
	margin: 20px 10px 40px 10px;
}

.gallery-item-wrapper{
	float: left;
	width: 100%;
}


/* c) Accordion Tabs */

.panel-wrapper{
	margin-bottom: 25px;
}

.panel-icon{
	margin-right: 5px;
	font-size: 20px;
	vertical-align: middle;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 500;
    color: #454545;
    font-family: 'serif';
}

.panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
    color: #656565;
}

.panel-group {
	margin: 10px 0;
}

.panel-group .panel {
    margin-bottom: 0;
    background: transparent;
}

.panel-body {
    padding: 20px 10px 10px 10px;
	
}
.panel-body p{
	font-family: 'serif';
	font-size: 17px;
}

.panel-heading {
    padding: 8px 10px 16px 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-default {
    border-color: transparent;
}
.panel-default > .panel-heading {
  color: #959595;
  background-color: transparent;
  border: none;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 3px solid #000;
 }


/* d) Features List */

.no-padding-bottom{
	padding-bottom: 0;
}

ul.features-list-hero{
	display: inline-block;
	margin-bottom: 25px;
}

ul.features-list-hero li{
	float:left;
	margin:10px 0;
	color:#929090;
	font-size:18px;
	line-height:26px;
	font-family: 'serif';
}

ul.features-list-hero li i{
	float:left;
	padding-right: 20px;
	color:#929090;
	font-size:42px;
	line-height: 46px;
	vertical-align: text-top;
}

ul.features-list-hero li i.blue{
	color: #008aff;
    background: #008aff;
    background: -webkit-gradient(linear, left top, right bottom, from(#b580ff), to(#905ca4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* e) form */
.form{
	width: 250px;
	padding: 10px;
	border-radius: 8px;
}

/* ========================================================== */
/* 			             9. MEDIA QUERIES                    */
/* ========================================================== */

@media (max-width: 991px) {

	.hero-picture{
		margin-bottom:0;
	}

	.navbar-fixed-top.opaque {
	    padding: 10px 0 10px 0;
	}

	.navbar-default .navbar-toggle {
		margin-top: 30px;
	    border-color: #B88514!important;
	
	}

	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #B88514!important;
	}

}

@media (max-width: 768px) {
	/* body{
		background-image: cover;
	} */
	.navbar-collapse{
		background-color: #000;
	}
	.navbar-nav:hover{
		color: #B88514;
	}
	

	.home-section {
		padding-top: 50px;
	  	padding-bottom: 50px;
		background-position: center;
	}
    
    .home-title h1{	
		font-size: 40px;
		line-height: 50px;
		padding: 30px 35px;
	}

	.home-title span{
		font-size: 24px;
		line-height: 30px;
	}

	.home-title p{
		margin-bottom:30px!important;
	}

}

@media (max-width: 600px) {
	.gallery-show{
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); 
	border: 8px solid rgba(255, 255, 255, 0.8);
	margin: 20px 10px 40px 10px;
	width: 100%;
	max-width:500px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;

	}

}


@media (max-width: 375px) {

	.navbar-toggle {
	    margin-bottom: 0;
	    border: 1px solid #9f9f9f!important;
	}

	.navbar-default .navbar-toggle {
	    border-color: #aeaeae!important;
	}

	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #aeaeae!important;
	}
	
  	.owl-carousel .owl-item img{
  		width: 80%!important;
  		margin: 0 10%;
  	}
	

	.fun-facts-box{
		width:48%!important;
	}

	#newsletter-form #email_newsletter {
	    -moz-border-radius: 5px 5px 5px 5px!important;
	    -webkit-border-radius: 5px 5px 5px 5px!important;
	    border-radius: 5px 5px 5px 5px!important;
	}

	#newsletter-form #submit-button-newsletter {
	    display: inline-block;
		margin-top:10px!important;
	    -moz-border-radius: 5px 5px 5px 5px!important;
	    -webkit-border-radius: 5px 5px 5px 5px!important;
	    border-radius: 5px 5px 5px 5px!important;
	}

	.extra-image {
	    margin-bottom: -140px!important;
	}

}

@media (max-width: 767px) {
	.line{
		margin-top: 80px;
		border-bottom: 1px solid #B88514;
	}
}


@media (max-width: 320px) {


	.newsletter-input {
		width: 60%;		
	}

	.btn-newsletter{
  		width: 38%;
  		margin-top: 12px;
  	}

}
